user {{ nginx_user }} {{ nginx_group }};
worker_processes  1;

events {
    worker_connections  1024;
}

http {
    access_log {{ nginx_logs_path }}/access.log;
    error_log {{ nginx_logs_path }}/error.log;

    server {
        listen       {{ nginx_port }};
        server_name  localhost;

        location / {
            root   {{ nginx_root }};
            index  index.html index.htm;
        }
    }
}
